:root {
  --lightGray: #eeeef0;
  --gray:#9a9a9a;
}

.App {
  font-family: 'karla';
}
.App-header {
  width: 100%;
  font-family: 'Lato', sans-serif;
  position: fixed;
  top: 0;
  z-index: 2;
  border-bottom: 2px solid var(--lightGray);
  display:flex;
  flex-direction: column;
  background-color: black;
}
.title-div{
}
.App-title {
  font-size: 30px;
  letter-spacing: 10px;
  padding-left: 120px;
  color:white;
}
.nav-bar{
  height:45px;
  display: grid;
  grid-template-columns: 30% 20% 20% 20% 10%;
  background-color: white;
  border-top: 3px solid black;
  color: white;
}

.nav-bar > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar > div > a {
  letter-spacing: 3px;
  font-size: 15px;
  font-weight: bold;
  color: black;
}



a {
  text-decoration: none;
  font-size: 17px;
  color: white;
}
a:visited {
  color:black;
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000088;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  background: #222;
  border-radius: 10px;
  width: 800px;
  height: 500px;
  padding: 1.5rem;
  color: white;
  display: flex;
}
